.about-us {
    display: inline-flex;
    gap: 80px;
}

.about-us__image {
    width: 50%;
    display: flex;
}

.about-us__img {
    width: 100%;
    object-fit: cover;
}

.about-us__column {
    width: 43%;
    display: inline-flex;
    flex-direction: column;
    gap: 39px;
}

.about-us__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}

.block-quote {
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.block-quote__cite {
    display: flex;
    gap: 30px;
    width: 70%;
}

.block-quote__text {
    font-size: 44px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 53px 0 0;
}

.block-quote__text::before {
    content: "“";
    font-size: 44px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0em;
    color: var(--color-primary);
}

.block-quote__text::after {
    content: "“";
    font-size: 44px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0em;
    color: var(--color-primary);
    transform: rotate(360deg);
}

.block-quote__images {
    height: 80px;
    display: flex;
    align-items: center;
}

.block-quote__name {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}

