* {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    background: var(--color-b);
    line-height: 28px;
    color: var(--text-color);
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0;
}

main {
    display: block;
}

figcaption {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: Arial, sans-serif;
}

p {
    margin: 0;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

a:hover {
    color: var(--color-g);
    transition: 0.8s;
}

a:active {
    color: var(--color-primary);
    transition: 0.8s;
}

a:focus {
    border: 2px solid var(--color-g);
    color: inherit;
    transition: 0.8s;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

img {
    border-style: none;
}

svg {
    max-width: 100%;
    height: 100%;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
    outline: none;
    cursor: pointer;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

blockquote,
figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

.container {
    max-width: 100%;
    padding: 0 130px 100px 130px;
}

.title {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 60px;
}

:root {
    --color-primary: #6C0287;
    --text-color: #fff;
    --color-g: #CD06FF;
    --color-f: #440F51;
    --color-a: #640AA3;
    --color-n: #EADEED;
    --color-m: #211E1E;
    --color-l: #840AA3;
    --color-e: #1C1A1A;
    --color-b: #1B1A1B;
    --color-k: #000;
    --color-p: #cd06ff;
    --c1: #370A37;
}